@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('pre/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    background-color: #dff0d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menubar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big a {
    margin-top: 18px;
    color: #2e4a59;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
}

.right-menu {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    background-color: #f7f3e3;
    padding: 10px 10px;
    border-radius: 10px;
    justify-content: center;
}

.right-menu li {
    list-style: none;
}

.right-menu li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
}

.right-menu li a:hover {
    background-color: #e0e0e0;
}