body {
    margin: 0;
    background-color: #FFF2E1;
}

.menubar ul:first-child {
    margin-right: auto;
    font-weight: bold;
    font-size: 32px;
    line-height: 1px;
    text-shadow: 2px 2.5px 2px rgba(0, 0, 0, 0.5);
}

.menubar {
    display: flex;
    justify-content: flex-end;
    height: 65px;
    color: #EAD8C0;
    background-color: #A79277; /* 메뉴바 배경색 추가 */
}

.menubar ul:last-child {
    margin-right: 40px;
}

.menubar ul {
    display: flex;
    line-height: 32px;
    align-items: center;
}

.container {
    background-color: #A79277;
    position: relative;
}

.nct-image {
    width: 500px;
    height: 300px;
    margin-top: 36px;
    margin-left: 200px; /* nct-image에만 적용될 왼쪽 여백 */
}

.sev-image {
    width: 500px;
    height: 300px;
    margin-top: 36px;
    margin-left: 100px; /* sev-image에만 적용될 왼쪽 여백 */
}

.image-text {
    position: absolute; /* 텍스트를 이미지를 기준으로 절대적으로 위치시킵 */
    top: 75px; 
    left: 210px;
    color: #AB5849;
}

.img-text {
    position: absolute;
    bottom: 39%;
    left: 200px;
    color: #AB5849;
    font-size: 15px;
}

.seven-text {
    position: absolute;
    top: 75px; /* 세븐틴 사진 상단으로부터의 간격 조정 */
    left: 807px;
    color: #AB5849;
    font-size: 16px;
}

.sev-text {
    position: absolute;
    bottom: 39%;
    left: 806px;
    color: #AB5849;
    font-size: 15px;
}

.long-line {
    border: none;
    height: 0.5px; /* 선의 높이 */
    background-color: #EAD8C0;
    margin: 35px auto; /* 선의 위아래 여백 */
    max-width: 97%;
}

h2 {
    font-weight: bold;
    color: #AB5849;
}

.title {
    margin-top: -25px;
    margin-left: 60px;
}

.ri-image {
    position: relative;
    width: auto;
    height: 100%;
    max-height: 100%;
    left: 60px; /* 좌우로 이동할 거리를 조절할 수 있습니다 */
    top: -10px; /* 상하로 이동할 거리를 조절할 수 있습니다 */
    border-radius: 15px;
}

.tittle {
    position: absolute; /* 절대 위치 설정 */
    margin-top: -310px;
    right: 290px; /* 오른쪽으로부터의 거리 설정 */
    color: #AB5849;
}

.in {
    position: absolute; /* 절대 위치 설정 */
    margin-top: -253px;
    right: 107px; /* 오른쪽으로부터의 거리 설정 */
    color: #948979;
}

.search-bar li {
    display: flex;
    align-items: center;
}

.search-bar i {
    margin-right: 5px;
}

.menubar ul:hover {
    cursor: pointer;
}

/* Tablet */
@media screen and (max-width: 976px) {

    /* .img.container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } */

    .nct-image {
        margin-top: 30px;
        margin-left: 50px;
        width: 405px; /* 부모 요소의 너비에 맞게 이미지 너비를 100%로 설정 */
        height: auto;
    }

    .sev-image {
        margin-top: 30px;
        margin-left: 52px;
        width: 405px;
        height: auto;
    }

    .image-text {
        position: absolute;
        left: 60px;
    }

    .img-text {
        position: absolute;
        top: 330px;
        left: 50px;
    }

    .seven-text {
        position: absolute;
        top: 72px;
        left: 520px;
    }

    .sev-text {
        position: absolute;
        top: 330px;
        left: 512px;
    }

    h2 {
        position: absolute;
        left: -25px;
    }

    .ri-image {
        margin-top: 10px;
        top: 7px;
        left: 32px;
        width: 500px;
        height: auto;
    }

    .tittle {
        position: absolute;
        left: 550px;
        top: 720px;
        width: 41vw;    /* 웹 페이지의 글자 크기를 조절 할 수 있는 css 단위 */
        font-size: 16px;
    }

    .in {
        position: absolute;
        left: 550px;
        top: 733px;
        width: 39vw;
    }
}

