/* KIMBS.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2E1;
}

.nav {
    background-color: #A79277; /* 배경색 변경 가능 */   
    padding: 10px 0;
}

.big {
    font-size: 28px;
    margin-left: 30px; /* .big 클래스에만 적용 */
    font-weight: bold;
}

.right-menu:last-child {
    margin-right: 30px;
    letter-spacing: 3px;
}

.menubar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menubar li {
    display: inline; /* 글자를 가로로 표시 */
    color: #EAD8C0;
    padding: 10px;
}

.menubar li a {
    display: inline;
    color: #EAD8C0; /* 링크 색상 변경 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.menubar .search-bar {
    margin-left: auto;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.nct-container, .seven-container, .news-container, .impossible-container, .song-container {
    text-align: center;
    margin: 20px 0;
}

.long-line {
    border: 1px solid #ccc;
}

.title, .tittle {
    font-size: 24px;
    font-weight: bold;
}

.in {
    margin: 20px;
}


/* Tablet */
@media screen and (max-width: 976px) {

    .image-container {
        margin-top: 35px;
    }

     .nct-image {
        width: 405px; 
        height: auto;
    }

    .sev-image {
        width: 405px;
        height: auto;
    }

    /* .image-text {
        position: absolute;
        left: 60px;
    }

    .img-text {
        position: absolute;
        top: 330px;
        left: 50px;
    }

    .seven-text {
        position: absolute;
        top: 72px;
        left: 520px;
    }

    .sev-text {
        position: absolute;
        top: 330px;
        left: 512px;
    }

    h2 {
        position: absolute;
        margin-top: -5px;
        left: 30px;
    }

    .ri-image {
        margin-top: 10px;
        top: 7px;
        margin-right: 100px;
        width: 500px;
        height: auto;
    }

    .tittle {
        position: absolute;
        left: 550px;
        top: 720px;
        width: 41vw;  
        font-size: 16px;
    }

    .in {
        position: absolute;
        left: 550px;
        top: 733px;
        width: 39vw;
    } */ 
}

@media screen and (max-width:600px){
    
}
