body {
    margin: 0;
    background-color: #FFF2E1;
}

.menubar ul:first-child {
    margin-right: auto;
    font-weight: bold;
    font-size: 32px;
    line-height: 1px;
    text-shadow: 2px 2.5px 2px rgba(0, 0, 0, 0.5);
}

.menubar {
    display: flex;
    justify-content: flex-end;
    height: 65px;
    color: #EAD8C0;
    background-color: #A79277; /* 메뉴바 배경색 추가 */
}

.menubar ul:last-child {
    margin-right: 40px;
}

.menubar ul {
    display: flex;
    line-height: 32px;
    align-items: center;
}

.container {
    background-color: #A79277;
    position: relative;
}

.nct-image {
    width: 500px;
    height: 300px;
    margin-top: 36px;
    margin-left: 16px;
}

.sev-image {
    width: 500px;
    height: 300px;
    margin-top: 36px;
    margin-left: 20px;
}

.riz-image {
    width: auto;
    height: 300px;
    max-width: 30%; /* 이미지의 최대 너비를 설정 */
    margin-top: 36px;
    margin-left: 20px; 
    position: absolute;
}

.image-text {
    position: absolute; /* 텍스트를 이미지를 기준으로 절대적으로 위치시킵니다. */
    top: 75px; /* 이미지 상단으로부터 10px 아래에 텍스트를 배치합니다. */
    left: 20px; /* 이미지 왼쪽으로부터 10px 오른쪽에 텍스트를 배치합니다. */
    color: #AB5849; /* 텍스트 색상 */
    font-size: 16px; /* 텍스트 크기 */
}

.img-text {
    position: absolute;
    bottom: 39%;
    left: 14px;
    color: #AB5849;
    font-size: 15px;
}

.seven-text {
    position: absolute;
    top: 75px; /* 세븐틴 사진 상단으로부터의 간격 조정 */
    left: 560px;
    color: #AB5849;
    font-size: 16px;
}

.sev-text {
    position: absolute;
    bottom: 39%;
    left: 540px;
    color: #AB5849;
    font-size: 15px;
}

.riz-text {
    position: absolute;
    top: 75px; /* 세븐틴 사진 상단으로부터의 간격 조정 */
    right: 270px;
    color: #AB5849;
    font-size: 16px;
}

.rize-text {
    position: absolute;
    bottom: 39%;
    right: 380px;
    color: #AB5849;
    font-size: 15px;
}

.long-line {
    border: none;
    height: 0.5px; /* 선의 높이 */
    background-color: #EAD8C0;
    margin: 35px auto; /* 선의 위아래 여백 */
    max-width: 97%;
}

h2 {
    font-weight: bold;
    color: #AB5849;
}

.title {
    margin-top: -25px;
    margin-left: 60px;
}

.ri-image {
    position: relative;
    width: auto;
    height: 100%;
    max-height: 100%;
    left: 60px; /* 좌우로 이동할 거리를 조절할 수 있습니다 */
    top: -10px; /* 상하로 이동할 거리를 조절할 수 있습니다 */
    border-radius: 15px;
}

.tittle {
    position: absolute; /* 절대 위치 설정 */
    margin-top: -310px;
    right: 290px; /* 오른쪽으로부터의 거리 설정 */
    color: #AB5849;
}

.in {
    position: absolute; /* 절대 위치 설정 */
    margin-top: -253px;
    right: 107px; /* 오른쪽으로부터의 거리 설정 */
    color: #948979;
}

.search-bar li {
    display: flex;
    align-items: center;
}

.search-bar i {
    margin-right: 5px;
}

/* @media screen and (max-width:976px){
    
} */
