.nav {
    background-color: #A79277;  
    padding: 10px 0;
}

.big {
    font-size: 28px;
    margin-left: 30px; /* .big 클래스에만 적용 */
    font-weight: bold;
    padding: 0;
}

.menubar {
    padding-right: 20px;
}

.right-menu:last-child {
    letter-spacing: 3px;
}

.menubar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hem {
    display: none;
}

.menubar li {
    display: inline; /* 글자를 가로로 표시 */
    color: #EAD8C0;
    padding: 10px;
}

.menubar li a {
    display: inline;
    color: #EAD8C0; /*링크 색상 변경*/
    text-decoration: none; /* 링크 밑줄 제거 */
}

.icon {
    color: #EAD8C0;
}

.menubar .search-bar {
    margin-left: auto;
}

.menubar ul:hover {
    cursor: pointer;
}

