.nav {
    background-color: #A79277;
}

.search-text {
    display: inline;
}

.big {
    font-size: 28px;
    margin-left: 20px;
    font-weight: bold;
    padding: 0;
}

.menubar {
    padding-right: 20px;
}

.right-menu:last-child {
    letter-spacing: 3px;
}

.menubar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hem {
    display: none;
}

.big {
    color: #EAD8C0;
}

.menubar li {
    display: inline; /* 글자를 가로로 표시 */
    padding: 10px;
}

.right-menu > li > i , .right-menu > li {
    color: #EAD8C0;
}

.menubar li a {
    display: inline;
    color: #EAD8C0; /*링크 색상 변경*/
    text-decoration: none; /* 링크 밑줄 제거 */
}

.icon {
    color: #EAD8C0;
}

.menubar .search-bar {
    margin-left: auto;
}

.menubar ul:hover {
    cursor: pointer;
}

.container {
    height: 52px;
    padding: 0;
}

@media screen and (max-width:600px) {
    .right-menu {
        display: none;
    }

    .right-menu > li > i , .right-menu > li {
        color: black;
    }

    .hem {
        display: flex;
        font-size: 30px;
        color: #EAD8C0;
    }

    .menubar li>a  {
        color: black;
        display: flex;
    }

    .right-menubar li {
        display: inline-block;
        color: black;
        float: right;
    }

    .search-text {
        color: black;
    }
    .show {
        display: flex;
        flex-direction: column;
        float: right;
        align-items: flex-end;
        font-size: 13px;
        position: absolute;
        width: 150px;
        right: 0;
        height: 1325px;
        top: 42px;
        background-color: #E8DFCA;
        z-index: 2;
    }

    .big {
        padding: 0;
        margin: 0;
        margin-top: -8px;
        margin-left: 10px; /* .big 클래스에만 적용 */
    }

    .big-hem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menubar {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;
    }

    .right-menu {
        color: black;
    }
}