body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2E1;
}

.text {
    margin-top: 190px;
    color: #212121;
}

.text div {
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 22px;
}

.last {
    color: rgba(0, 0, 0, 30%);
}

.Goods-container {
    display: flex;
    margin-right: 75px;
    justify-content: center;
}

.img-container {
    width: 680px;
    margin-top: 60px;
    margin-left: 80px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 나누기 */
    grid-template-rows: repeat(2, auto); /* 2행으로 나누기 */
    gap: 23px;
}

.img-container div {
    display: flex;
    justify-content: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width:600px) {
    .container {
        height: 52px;
        padding: 0;

    }
    .right-menu {
        display: none;
    }
    .hem {
        display: flex;
        font-size: 30px;
        color: #EAD8C0;
    }

    .menubar li>a  {
        color: black;
        display: flex;
    }
    .menubar li {
        display: inline-block;
        float: right;
    }

    .show {
        display: flex;
        flex-direction: column;
        float: right;
        font-size: 13px;
        position: absolute;
        width: 150px;
        height: calc(100% - 52px);
        top: 52px;
        right: 0;
        background-color: #E8DFCA;
        z-index: 2;
    }
    .big {
        padding: 0;
        margin: 0;
        margin-left: 10px; /* .big 클래스에만 적용 */
    }
    .big-hem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-menubar {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;
    }

    .right-menu {
        color: black;
    }
}