body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2E1;
}

.text {
    margin-top: 130px;
    color: #212121;
}

.text div {
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 22px;
}

.last {
    color: rgba(0, 0, 0, 30%);
}

.nav {
    background-color: #A79277;  
    padding: 10px 0;
}

.big {
    font-size: 28px;
    margin-left: 30px;
    font-weight: bold;
    padding: 0;
}

.menubar {
    padding-right: 20px;
}

.right-menu:last-child {
    letter-spacing: 3px;
}

.menubar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hem {
    display: none;
}

.menubar li {
    display: inline; /* 글자를 가로로 표시 */
    color: #EAD8C0;
    padding: 10px;
}

.menubar li a {
    display: inline-block;
    color: #EAD8C0; /* 링크 색상 변경 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.icon {
    color: #EAD8C0;
}

.menubar .search-bar {
    margin-left: auto;
}

.menubar ul:hover {
    cursor: pointer;
}

.Goods-container {
    display: flex;
    margin-right: 75px;
    justify-content: center;
}

.img-container {
    width: 680px;
    margin-top: 83px;
    margin-left: 80px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 23px;
}

.img-container div {
    display: flex;
    justify-content: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    width: 150px; /* 이미지의 고정 너비 설정 */
}

@media screen and (max-width: 600px) {
    .container {
        height: 52px;
        padding: 0;
    }

    .right-menu {
        display: none;
    }

    .hem {
        display: flex;
        font-size: 30px;
        color: #EAD8C0;
    }

    .menubar li > a {
        color: black;
        display: flex;
    }

    .menubar li {
        display: inline-block;
        float: right;
    }

    .show {
        display: flex;
        flex-direction: column;
        float: right;
        font-size: 13px;
        position: absolute;
        width: 150px;
        height: calc(100% - 52px);
        top: 52px;
        right: 0;
        background-color: #E8DFCA;
        z-index: 2;
    }

    .big {
        padding: 0;
        margin: 0;
        margin-left: 10px;
    }

    .big-hem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menubar {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;
    }

    .right-menu {
        color: black;
    }

    .img-container img {
        width: 200px; /* 600px 미만에서 이미지 크기를 200px로 설정 */
    }
}
