body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2E1;
}

.big-hem {
    margin-top: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px;
    margin-top: 10px;
    margin-left: 90px;
}

.Oo {
    border-radius: 10px;
    width: 550px;
    margin-bottom: 60px;
}

.text {
    position: absolute;
    width: 370px; 
    height: 100px; 
    background-color: #F0DEC7;
    border-radius: 8px;
    margin-left: 580px;
    margin-top: -165px;
}

.Po {
    margin-top: 19px;
    margin-left: 20px;
}

/* tablit */
@media screen and (max-width:976px) {
    .card-container {
        margin-left: 30px; /* 카드 컨테이너 왼쪽 여백을 줄입니다. */
    }
    
    .Oo {
        width: 460px; /* 이미지 너비를 줄입니다. */
    }
    
    .text {
        width: 350px; /* 텍스트 박스 너비를 줄입니다. */
        margin-left: 470px; /* 텍스트 박스를 왼쪽으로 이동시킵니다. */
        margin-top: -160px; /* 텍스트 박스 위치를 조정합니다. */
    }
    
    .Po {
        font-size: 15px;
        margin-left: 16px; /* 텍스트 내용을 조정합니다. */
    }
}

/* mobile */
@media screen and (max-width:600px) {
    .card-container {
        margin-left: 6px;
        margin-top: -4px;
    }

    .nav {
        transition: transform 0.3s ease-in-out; /* 부드러운 애니메이션 적용 */
    }

    .air {
        /* margin-top: -20px; */
        margin-bottom: 10px;
        padding-bottom: 59px;
    }

    .text {
        margin-bottom: 300px;
        margin-top: -54px;
        margin-left: 54px;
        margin-top: -47px;
    }
}